mark {
  background-color: #ffff88;
  color: black;
}

h-l {
  color: crimson;
  font-weight: bold;
}


@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

pre code {
  font-family:"Fira Code", "Monaco", monospace !important;
}